.flask {
    width: 50px;
    height: 100px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.selected {
    border-color: white !important;
}

.colorContainer {
    width: 50px;
    height: 25px;
}

.c0 {
    background-color: #ff7f00;
}

.c1 {
    background-color: #ffff00;
}

.c2 {
    background-color: #007900;
}

.c3 {
    background-color: #ba00ff;
}

.c4 {
    background-color: #00aeae;
}

.c5 {
    background-color: #ff4600;
}

.c6 {
    background-color: #0000ff;
}

.c7 {
    background-color: #ad6f1d;
}

.c8 {
    background-color: #27e57e;
}